/*
@author Alter 
 */

/* Contains all of the buttons. */
#buttonsDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

/* Contains the socials buttons. */
.buttonsDiv {

    /* Size settings. */
    height: 100px;
    width: 25%;

    /* Flex settings. */
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-around;

}

#socialsButtonsDiv {

    /* Spacing settings. */
    transform: translateY(-50px);
    margin-bottom: -50px;
    margin-right: 100px;
    float: left;
    z-index: 2;

    /* Flex settings. */
    align-self: flex-start;

}

#supportButtonsDiv {

    /* Spacing settings. */
    transform: translateY(-50px);
    margin-bottom: -50px;
    margin-right: 100px;
    float: right;
    z-index: 2;

    /* Flex settings. */
    align-self: flex-end;

}

@keyframes socialsButtonHoverAnimation {
    0% {
        scale: 95%;
    }

    50% {
        scale: 110%;
    }

    100% {
        scale: 115%;
    }
}


.buttonsDiv img:hover {
    animation-name: socialsButtonHoverAnimation;
    animation-duration: 0.15s;

    filter: brightness(115%);
    border: 2px solid rgb(255, 174, 0);
    scale: 110%;

}

/* Style for images in the socials buttons div. */
.buttonsDiv img {

    height: 100px;
    width: 100px;

    border-radius: 100%;

    box-shadow: 2px 4px 7px black;

    filter: blur(0px);
}