.cardSection {

    /* Flex options. */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Other options. */
    margin-bottom: 10px;
    padding: 20px;
    background-color: black;
    color: white;

    /* Text optoins. */
    text-align: center;

    /* Border options. */
    border: 6px solid red;
    border-radius: 10px;

    scale: 90%;
}

.cardSection>h1 {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 30px;
    margin-bottom: 30px;
}