/*
@author Alter
*/

* {
    margin: 0px;
}

/* Contains everything on the index page. */
#mainDiv {
    background: linear-gradient(to bottom, #8d5e4d, #20110e);
    height: 100%;
    width: 100%;

    overflow-y: hidden;

    /* Flex settings. */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

@font-face {
    font-family: "Eroded-Font";
    src: path("public\fonts\MotionPersonalUseBold-2O0od.ttf")
}

/* Contains the banner. */
#indexBannerDiv {

    height: 200px;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);

    background-color: white;
    

}

#titleDiv {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#sections {

    /* Flex settings. */
    display: flex;
    flex-direction: column;
    margin: 20px;

}

h1 {
    font-family: "Eroded-Font", serif;
    font-size: 75px;
}