/*
@author Alter
*/

* {
    margin: 0px;
}

/* Contains everything on the index page. */
#mainDiv {
    background: linear-gradient(to bottom, #8d5e4d, #20110e);
    height: 100%;
    width: 100%;

    overflow-y: hidden;

    /* Flex settings. */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

@font-face {
    font-family: "Eroded-Font";
    src: path("public\fonts\MotionPersonalUseBold-2O0od.ttf")
}

/* Contains the banner. */
#indexBannerDiv {

    height: 300px;
    width: 100%;

    background: linear-gradient(to bottom, #1a0700,  #2b0b00, #530e00);

    /* background: linear-gradient(to bottom, #531600,  #2b0b00, #1d0500); */
    

}

#logoDiv {

    /* Flex options. */
    display: flex;
    justify-content: center;

    /* Spacing options. */
    padding: 20px;
    transform: translateY(-50px);
    z-index: 1;

    /* Size options. */
    height: 150px;
    width: 100%;

    box-shadow: 0px 10px 30px rgb(0, 0, 0);

    border: 2px solid black;
}

#logoDiv>img {

    height: 475px;
    width: 475px;
    translate: 0px -175px;

    border-radius: 100%;

    filter: drop-shadow(0px 1px 1px rgb(255, 255, 255)) drop-shadow(0px 20px 10px black) brightness(120%);

}

h1 {
    margin-top: 25px;
    font-family: Arial, Helvetica, serif;
    font-size: 75px;
}

#sections {

    /* Flex settings. */
    display: flex;
    flex-direction: column;
    margin: 20px;

}
