/*
@author Alter
*/

* {
    margin: 0px;
}

#mainDiv {
    background: linear-gradient(to bottom, #8d5e4d, #20110e);
    height: 100%;
}

@font-face {
    font-family: "Eroded-Font";
    src: path("public\fonts\MotionPersonalUseBold-2O0od.ttf")
}

#titleDiv {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#sections {

    /* Flex settings. */
    display: flex;
    flex-direction: column;
    margin: 20px;

}

h1 {
    font-family: "Eroded-Font", serif;
    font-size: 75px;
}