/*
@author Alter 
*/

/* Style for the projects section header. */
#projectsSection>h1 {

    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 30px;
    margin-bottom: 30px;

}

/* Style for the div that holds the project cards. */
#projectsCardHolder {

    /* Flex options. */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;


}

/* Style for the project card main divs. */
.projectCardMainDiv {

    /* Spacing options. */
    margin: 20px;
    padding: 30px;

    /* Size options. */
    height: 350px;
    width: 250px;

    /* Flex options. */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /* Border options. */
    border: 1px solid white;
    border-radius: 10px;

    /* Color options. */
    background-color: rgb(0, 0, 0);
}

/* Animation for hovering over a project card. */
@keyframes projectCardHoverAnimation {
    0% {
        scale: 100%;
    }

    75% {
        scale: 115%;
    }
}

/* Style for project cart main div HOVER. */
.projectCardMainDiv:hover {
    animation-name: projectCardHoverAnimation;
    animation-duration: 0.25s;

    filter: brightness(150%);
    box-shadow: 0px 0px 10px 2px white;
    border: 1px solid rgb(0, 145, 255);

    scale: 110%;
}

/* Style for the project card title. */
.projectCardName {

    height: 100%;
    font-size: 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;

}

/* Style for the project card description. */
.projectCardDescription {

    height: 100%;
    font-size: 157x;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-bottom: 10px;

}

/* Style for the project card images. */
.projectCardImage {

    height: 100%;
    width: 150px;

}