/*
@author Alter 
 */

/* Contains the socials buttons. */
#socialsButtonsDiv {

    /* Size settings. */
    height: 100px;
    width: 100%;

    /* Spacing settings. */
    transform: translateY(-50px);
    margin-bottom: -50px;
    z-index: 2;

    /* Flex settings. */
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-end;

}

/* Style for images in the socials buttons div. */
#socialsButtonsDiv>img {

    margin-right: 75px;

    height: 100px;
    width: 100px;

    border-radius: 100%;

    box-shadow: 2px 4px 7px black;

}

@keyframes socialsButtonHoverAnimation {
    0% {
        size: 100%;
    }

    50% {
        size: 110%;
    }

    75% {
        size: 95%;
    }

    100% {
        size: 100%;
    }
}

/* Style for images in the socials buttons div. */
#socialsButtonsDiv>img:hover {
    animation-name: socialsButtonHoverAnimation;
    animation-duration: 1s;
}