/*
@author Alter
*/

#supportersSection>h1 {
    font-size: 40px;
    margin: 10px;
    color: white;
}

#supportersSection h3 {
    font-size: 25px;
}

#supportersSection>p {
    font-size: 25px;
    color: white;
}


/* Styles the main div of supporter groups. */
.supportersGroupMainDiv {

    /* Other. */
    width: 80%;
    margin: 50px;
    padding: 10px;
    background-color: rgb(0, 0, 0);

    /* Border options. */
    border-radius: 5px;
    border: 1px solid white;
    /* box-shadow: 0 0 1px 1px white; */

    /* Flex options. */
    display: flex;
    flex-direction: column;

}


/* Styles the main div of supporter groups. */
.supportersGroupMainDiv>h2 {

    color: white
}

/* Styles the div that holds supporter cards. */
.supportersGroupCardHolderDiv {

    /* Other. */
    margin: 30px;

    /* Flex options. */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

/* Styles the main div of supporter cards. */
.supporterCardMainDiv {

    /* Other. */
    background-color: black;
    padding: 10px;
    margin: 10px;
    max-width: 200px;

    /* Border options. */
    border-radius: 5px;
    border: 1px solid white;
    /* box-shadow: 0 0 15px 3px rgba(255, 123, 0, 0.6); */

    /* Flex options. */
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;

}

/* Styles the children of the main div of supporter cards. */
.supporterCardMainDiv>* {

    padding: 10px;

}

.supporterCardImage {
    max-width: 100px;
    max-height: 100px;
}

.supportersGroupDescription {
    font-size: 23px;
}